<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <title>ペンギン - Flask -</title>
</head>

<style>
    body {
        font-family: "Nico Moji";
        background-color: rgb(201, 201, 201);
        width: 90%;
        margin: auto;
    }
</style>

<body>
    <h1>ようこそ、{{ name }}さん。</h1>
    <div><a href="https://github.com/rockhopper-penguin" target="_blank"><img src="static/images/github.png" alt="githubアイコン"></a></div>
    <div>
        <h1>時間を取得</h1>
        <h1>{{ year }}年{{ month }}日{{ day }}日&nbsp;{{ hour }}時{{ minute }}分{{ second }}秒</h1>
        <p>※読み込み時の時間</p>
    </div>
</body>
</html>
